/*----------------------------------
  Font Size
------------------------------------*/
.fs-10 {
  font-size: 0.625rem !important;
}

.fs-11 {
  font-size: 0.6875rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-17 {
  font-size: 1.0625rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-19 {
  font-size: 1.1875rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.fs-34 {
  font-size: 2.125rem !important;
}

.fs-36 {
  font-size: 2.25rem !important;
}

.fs-38 {
  font-size: 2.375rem !important;
}

.fs-40 {
  font-size: 2.5rem !important;
}

.fs-42 {
  font-size: 2.625rem !important;
}

.fs-44 {
  font-size: 2.75rem !important;
}

.fs-46 {
  font-size: 2.875rem !important;
}

.fs-48 {
  font-size: 3rem !important;
}

.fs-50 {
  font-size: 3.125rem !important;
}

.fs-55 {
  font-size: 3.4375rem !important;
}

.fs-60 {
  font-size: 3.75rem !important;
}

.fs-65 {
  font-size: 4.0625rem !important;
}

.fs-70 {
  font-size: 4.375rem !important;
}

.fs-75 {
  font-size: 4.6875rem !important;
}

.fs-80 {
  font-size: 5rem !important;
}

.fs-85 {
  font-size: 5.3125rem !important;
}

.fs-90 {
  font-size: 5.625rem !important;
}

.fs-95 {
  font-size: 5.9375rem !important;
}

.fs-100 {
  font-size: 6.25rem !important;
}

.fs-105 {
  font-size: 6.5625rem !important;
}

.fs-110 {
  font-size: 6.875rem !important;
}

.fs-115 {
  font-size: 7.1875rem !important;
}

.fs-120 {
  font-size: 7.5rem !important;
}

.fs-125 {
  font-size: 7.8125rem !important;
}

.fs-130 {
  font-size: 8.125rem !important;
}

.fs-135 {
  font-size: 8.4375rem !important;
}

.fs-140 {
  font-size: 8.75rem !important;
}

.fs-145 {
  font-size: 9.0625rem !important;
}

.fs-150 {
  font-size: 9.375rem !important;
}

/*----------------------------------
  Display
------------------------------------*/
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-inherit {
  display: inherit;
}

.display-table {
  display: table;
}

/*----------------------------------
  Text Alignment
------------------------------------*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-inherit {
  text-align: inherit;
}

.margin-center {
  margin: 0 auto;
}

/*----------------------------------
  Pulls
------------------------------------*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-none {
  float: none;
}

/*----------------------------------
  Width
------------------------------------*/
.width-auto {
  width: auto;
}

.width-100-percent {
  width: 100%;
}

.width-5 {
  width: 0.3125rem;
}

.width-10 {
  width: 0.625rem;
}

.width-15 {
  width: 0.9375rem;
}

.width-20 {
  width: 1.25rem;
}

.width-25 {
  width: 1.5625rem;
}

.width-30 {
  width: 1.875rem;
}

.width-35 {
  width: 2.1875rem;
}

.width-40 {
  width: 2.5rem;
}

.width-45 {
  width: 2.8125rem;
}

.width-50 {
  width: 3.125rem;
}

.width-60 {
  width: 3.75rem;
}

.width-70 {
  width: 4.375rem;
}

.width-80 {
  width: 5rem;
}

.width-90 {
  width: 5.625rem;
}

.width-100 {
  width: 6.25rem;
}

.width-150 {
  width: 9.375rem;
}

.width-200 {
  width: 12.5rem;
}

.width-250 {
  width: 15.625rem;
}

.width-300 {
  width: 18.75rem;
}

.width-350 {
  width: 21.875rem;
}

.width-400 {
  width: 25rem;
}

.width-450 {
  width: 28.125rem;
}

.width-500 {
  width: 31.25rem;
}

.width-550 {
  width: 34.375rem;
}

.width-600 {
  width: 37.5rem;
}

/*----------------------------------
  Height
------------------------------------*/
.height-auto {
  height: auto;
}

.height-100-percent {
  height: 100%;
}

.height-5 {
  height: 0.3125rem;
}

.height-10 {
  height: 0.625rem;
}

.height-15 {
  height: 0.9375rem;
}

.height-20 {
  height: 1.25rem;
}

.height-25 {
  height: 1.5625rem;
}

.height-30 {
  height: 1.875rem;
}

.height-35 {
  height: 2.1875rem;
}

.height-40 {
  height: 2.5rem;
}

.height-45 {
  height: 2.8125rem;
}

.height-50 {
  height: 3.125rem;
}

.height-60 {
  height: 3.75rem;
}

.height-70 {
  height: 4.375rem;
}

.height-80 {
  height: 5rem;
}

.height-90 {
  height: 5.625rem;
}

.height-100 {
  height: 6.25rem;
}

.height-150 {
  height: 9.375rem;
}

.height-200 {
  height: 12.5rem;
}

.height-250 {
  height: 15.625rem;
}

.height-300 {
  height: 18.75rem;
}

.height-350 {
  height: 21.875rem;
}

.height-400 {
  height: 25rem;
}

.height-450 {
  height: 28.125rem;
}

.height-500 {
  height: 31.25rem;
}

.height-550 {
  height: 34.375rem;
}

.height-600 {
  height: 37.5rem;
}

/*----------------------------------
  Margin Bottom
------------------------------------*/
.MB2 {
  margin-bottom: .125rem;
}

.MB4 {
  margin-bottom: .25rem;
}

.MB0 {
  margin-bottom: 0rem;
}

.MB5 {
  margin-bottom: 0.3125rem;
}

.MB10 {
  margin-bottom: 0.625rem;
}

.MB15 {
  margin-bottom: 0.9375rem;
}

.MB20 {
  margin-bottom: 1.25rem;
}

.MB25 {
  margin-bottom: 1.5625rem;
}

.MB30 {
  margin-bottom: 1.875rem;
}

.MB35 {
  margin-bottom: 2.1875rem;
}

.MB40 {
  margin-bottom: 2.5rem;
}

.MB45 {
  margin-bottom: 2.8125rem;
}

.MB50 {
  margin-bottom: 3.125rem;
}

.MB55 {
  margin-bottom: 3.4375rem;
}

.MB60 {
  margin-bottom: 3.75rem;
}

.MB65 {
  margin-bottom: 4.0625rem;
}

.MB70 {
  margin-bottom: 4.375rem;
}

.MB75 {
  margin-bottom: 4.6875rem;
}

.MB80 {
  margin-bottom: 5rem;
}

.MB85 {
  margin-bottom: 5.3125rem;
}

.MB90 {
  margin-bottom: 5.625rem;
}

.MB95 {
  margin-bottom: 5.9375rem;
}

.MB100 {
  margin-bottom: 6.25rem;
}

.MB105 {
  margin-bottom: 6.5625rem;
}

.MB110 {
  margin-bottom: 6.875rem;
}

.MB115 {
  margin-bottom: 7.1875rem;
}

.MB120 {
  margin-bottom: 7.5rem;
}

.MB125 {
  margin-bottom: 7.8125rem;
}

.MB130 {
  margin-bottom: 8.125rem;
}

.MB135 {
  margin-bottom: 8.4375rem;
}

.MB140 {
  margin-bottom: 8.75rem;
}

.MB145 {
  margin-bottom: 9.0625rem;
}

.MB150 {
  margin-bottom: 9.375rem;
}

/*----------------------------------
  Margin Top
------------------------------------*/
.MT0 {
  margin-top: 0rem;
}

.MT5 {
  margin-top: 0.3125rem;
}

.MT10 {
  margin-top: 0.625rem;
}

.MT15 {
  margin-top: 0.9375rem;
}

.MT20 {
  margin-top: 1.25rem;
}

.MT25 {
  margin-top: 1.5625rem;
}

.MT30 {
  margin-top: 1.875rem;
}

.MT35 {
  margin-top: 2.1875rem;
}

.MT40 {
  margin-top: 2.5rem;
}

.MT45 {
  margin-top: 2.8125rem;
}

.MT50 {
  margin-top: 3.125rem;
}

.MT55 {
  margin-top: 3.4375rem;
}

.MT60 {
  margin-top: 3.75rem;
}

.MT65 {
  margin-top: 4.0625rem;
}

.MT70 {
  margin-top: 4.375rem;
}

.MT75 {
  margin-top: 4.6875rem;
}

.MT80 {
  margin-top: 5rem;
}

.MT85 {
  margin-top: 5.3125rem;
}

.MT90 {
  margin-top: 5.625rem;
}

.MT95 {
  margin-top: 5.9375rem;
}

.MT100 {
  margin-top: 6.25rem;
}

.MT105 {
  margin-top: 6.5625rem;
}

.MT110 {
  margin-top: 6.875rem;
}

.MT115 {
  margin-top: 7.1875rem;
}

.MT120 {
  margin-top: 7.5rem;
}

.MT125 {
  margin-top: 7.8125rem;
}

.MT130 {
  margin-top: 8.125rem;
}

.MT135 {
  margin-top: 8.4375rem;
}

.MT140 {
  margin-top: 8.75rem;
}

.MT145 {
  margin-top: 9.0625rem;
}

.MT150 {
  margin-top: 9.375rem;
}

/*----------------------------------
  Margin Left
------------------------------------*/
.ML0 {
  margin-left: 0rem;
}

.ML5 {
  margin-left: 0.3125rem;
}

.ML10 {
  margin-left: 0.625rem;
}

.ML15 {
  margin-left: 0.9375rem;
}

.ML20 {
  margin-left: 1.25rem;
}

.ML25 {
  margin-left: 1.5625rem;
}

.ML30 {
  margin-left: 1.875rem;
}

.ML35 {
  margin-left: 2.1875rem;
}

.ML40 {
  margin-left: 2.5rem;
}

.ML45 {
  margin-left: 2.8125rem;
}

.ML50 {
  margin-left: 3.125rem;
}

.ML55 {
  margin-left: 3.4375rem;
}

.ML60 {
  margin-left: 3.75rem;
}

.ML65 {
  margin-left: 4.0625rem;
}

.ML70 {
  margin-left: 4.375rem;
}

.ML75 {
  margin-left: 4.6875rem;
}

.ML80 {
  margin-left: 5rem;
}

.ML85 {
  margin-left: 5.3125rem;
}

.ML90 {
  margin-left: 5.625rem;
}

.ML95 {
  margin-left: 5.9375rem;
}

.ML100 {
  margin-left: 6.25rem;
}

.ML105 {
  margin-left: 6.5625rem;
}

.ML110 {
  margin-left: 6.875rem;
}

.ML115 {
  margin-left: 7.1875rem;
}

.ML120 {
  margin-left: 7.5rem;
}

.ML125 {
  margin-left: 7.8125rem;
}

.ML130 {
  margin-left: 8.125rem;
}

.ML135 {
  margin-left: 8.4375rem;
}

.ML140 {
  margin-left: 8.75rem;
}

.ML145 {
  margin-left: 9.0625rem;
}

.ML150 {
  margin-left: 9.375rem;
}

/*----------------------------------
  Margin Right
------------------------------------*/
.MR0 {
  margin-right: 0rem;
}

.MR5 {
  margin-right: 0.3125rem;
}

.MR10 {
  margin-right: 0.625rem;
}

.MR15 {
  margin-right: 0.9375rem;
}

.MR20 {
  margin-right: 1.25rem;
}

.MR25 {
  margin-right: 1.5625rem;
}

.MR30 {
  margin-right: 1.875rem;
}

.MR35 {
  margin-right: 2.1875rem;
}

.MR40 {
  margin-right: 2.5rem;
}

.MR45 {
  margin-right: 2.8125rem;
}

.MR50 {
  margin-right: 3.125rem;
}

.MR55 {
  margin-right: 3.4375rem;
}

.MR60 {
  margin-right: 3.75rem;
}

.MR65 {
  margin-right: 4.0625rem;
}

.MR70 {
  margin-right: 4.375rem;
}

.MR75 {
  margin-right: 4.6875rem;
}

.MR80 {
  margin-right: 5rem;
}

.MR85 {
  margin-right: 5.3125rem;
}

.MR90 {
  margin-right: 5.625rem;
}

.MR95 {
  margin-right: 5.9375rem;
}

.MR100 {
  margin-right: 6.25rem;
}

.MR105 {
  margin-right: 6.5625rem;
}

.MR110 {
  margin-right: 6.875rem;
}

.MR115 {
  margin-right: 7.1875rem;
}

.MR120 {
  margin-right: 7.5rem;
}

.MR125 {
  margin-right: 7.8125rem;
}

.MR130 {
  margin-right: 8.125rem;
}

.MR135 {
  margin-right: 8.4375rem;
}

.MR140 {
  margin-right: 8.75rem;
}

.MR145 {
  margin-right: 9.0625rem;
}

.MR150 {
  margin-right: 9.375rem;
}

/*----------------------------------
  Margin Top Overlay
------------------------------------*/
.MTO0 {
  margin-top: 0rem;
}

.MTO5 {
  margin-top: -0.3125rem;
}

.MTO10 {
  margin-top: -0.625rem;
}

.MTO15 {
  margin-top: -0.9375rem;
}

.MTO20 {
  margin-top: -1.25rem;
}

.MTO25 {
  margin-top: -1.5625rem;
}

.MTO30 {
  margin-top: -1.875rem;
}

.MTO35 {
  margin-top: -2.1875rem;
}

.MTO40 {
  margin-top: -2.5rem;
}

.MTO45 {
  margin-top: -2.8125rem;
}

.MTO50 {
  margin-top: -3.125rem;
}

.MTO55 {
  margin-top: -3.4375rem;
}

.MTO60 {
  margin-top: -3.75rem;
}

.MTO65 {
  margin-top: -4.0625rem;
}

.MTO70 {
  margin-top: -4.375rem;
}

.MTO75 {
  margin-top: -4.6875rem;
}

.MTO80 {
  margin-top: -5rem;
}

.MTO85 {
  margin-top: -5.3125rem;
}

.MTO90 {
  margin-top: -5.625rem;
}

.MTO95 {
  margin-top: -5.9375rem;
}

.MTO100 {
  margin-top: -6.25rem;
}

.MTO105 {
  margin-top: -6.5625rem;
}

.MTO110 {
  margin-top: -6.875rem;
}

.MTO115 {
  margin-top: -7.1875rem;
}

.MTO120 {
  margin-top: -7.5rem;
}

.MTO125 {
  margin-top: -7.8125rem;
}

.MTO130 {
  margin-top: -8.125rem;
}

.MTO135 {
  margin-top: -8.4375rem;
}

.MTO140 {
  margin-top: -8.75rem;
}

.MTO145 {
  margin-top: -9.0625rem;
}

.MTO150 {
  margin-top: -9.375rem;
}

/*----------------------------------
  Margin Left Overlay
------------------------------------*/
.MLO0 {
  margin-left: 0rem;
}

.MLO5 {
  margin-left: -0.3125rem;
}

.MLO10 {
  margin-left: -0.625rem;
}

.MLO15 {
  margin-left: -0.9375rem;
}

.MLO20 {
  margin-left: -1.25rem;
}

.MLO25 {
  margin-left: -1.5625rem;
}

.MLO30 {
  margin-left: -1.875rem;
}

.MLO35 {
  margin-left: -2.1875rem;
}

.MLO40 {
  margin-left: -2.5rem;
}

.MLO45 {
  margin-left: -2.8125rem;
}

.MLO50 {
  margin-left: -3.125rem;
}

.MLO55 {
  margin-left: -3.4375rem;
}

.MLO60 {
  margin-left: -3.75rem;
}

.MLO65 {
  margin-left: -4.0625rem;
}

.MLO70 {
  margin-left: -4.375rem;
}

.MLO75 {
  margin-left: -4.6875rem;
}

.MLO80 {
  margin-left: -5rem;
}

.MLO85 {
  margin-left: -5.3125rem;
}

.MLO90 {
  margin-left: -5.625rem;
}

.MLO95 {
  margin-left: -5.9375rem;
}

.MLO100 {
  margin-left: -6.25rem;
}

.MLO105 {
  margin-left: -6.5625rem;
}

.MLO110 {
  margin-left: -6.875rem;
}

.MLO115 {
  margin-left: -7.1875rem;
}

.MLO120 {
  margin-left: -7.5rem;
}

.MLO125 {
  margin-left: -7.8125rem;
}

.MLO130 {
  margin-left: -8.125rem;
}

.MLO135 {
  margin-left: -8.4375rem;
}

.MLO140 {
  margin-left: -8.75rem;
}

.MLO145 {
  margin-left: -9.0625rem;
}

.MLO150 {
  margin-left: -9.375rem;
}

/*----------------------------------
  Margin Right Overlay
------------------------------------*/
.MRO0 {
  margin-right: 0rem;
}

.MRO5 {
  margin-right: -0.3125rem;
}

.MRO10 {
  margin-right: -0.625rem;
}

.MRO15 {
  margin-right: -0.9375rem;
}

.MRO20 {
  margin-right: -1.25rem;
}

.MRO25 {
  margin-right: -1.5625rem;
}

.MRO30 {
  margin-right: -1.875rem;
}

.MRO35 {
  margin-right: -2.1875rem;
}

.MRO40 {
  margin-right: -2.5rem;
}

.MRO45 {
  margin-right: -2.8125rem;
}

.MRO50 {
  margin-right: -3.125rem;
}

.MRO55 {
  margin-right: -3.4375rem;
}

.MRO60 {
  margin-right: -3.75rem;
}

.MRO65 {
  margin-right: -4.0625rem;
}

.MRO70 {
  margin-right: -4.375rem;
}

.MRO75 {
  margin-right: -4.6875rem;
}

.MRO80 {
  margin-right: -5rem;
}

.MRO85 {
  margin-right: -5.3125rem;
}

.MRO90 {
  margin-right: -5.625rem;
}

.MRO95 {
  margin-right: -5.9375rem;
}

.MRO100 {
  margin-right: -6.25rem;
}

.MRO105 {
  margin-right: -6.5625rem;
}

.MRO110 {
  margin-right: -6.875rem;
}

.MRO115 {
  margin-right: -7.1875rem;
}

.MRO120 {
  margin-right: -7.5rem;
}

.MRO125 {
  margin-right: -7.8125rem;
}

.MRO130 {
  margin-right: -8.125rem;
}

.MRO135 {
  margin-right: -8.4375rem;
}

.MRO140 {
  margin-right: -8.75rem;
}

.MRO145 {
  margin-right: -9.0625rem;
}

.MRO150 {
  margin-right: -9.375rem;
}

/*----------------------------------
  Padding Left
------------------------------------*/
.PL0 {
  padding-left: 0rem;
}

.PL5 {
  padding-left: 0.3125rem;
}

.PL10 {
  padding-left: 0.625rem;
}

.PL15 {
  padding-left: 0.9375rem;
}

.PL20 {
  padding-left: 1.25rem;
}

.PL25 {
  padding-left: 1.5625rem;
}

.PL30 {
  padding-left: 1.875rem;
}

.PL35 {
  padding-left: 2.1875rem;
}

.PL40 {
  padding-left: 2.5rem;
}

.PL45 {
  padding-left: 2.8125rem;
}

.PL50 {
  padding-left: 3.125rem;
}

.PL55 {
  padding-left: 3.4375rem;
}

.PL60 {
  padding-left: 3.75rem;
}

.PL65 {
  padding-left: 4.0625rem;
}

.PL70 {
  padding-left: 4.375rem;
}

.PL75 {
  padding-left: 4.6875rem;
}

.PL80 {
  padding-left: 5rem;
}

.PL85 {
  padding-left: 5.3125rem;
}

.PL90 {
  padding-left: 5.625rem;
}

.PL95 {
  padding-left: 5.9375rem;
}

.PL100 {
  padding-left: 6.25rem;
}

.PL105 {
  padding-left: 6.5625rem;
}

.PL110 {
  padding-left: 6.875rem;
}

.PL115 {
  padding-left: 7.1875rem;
}

.PL120 {
  padding-left: 7.5rem;
}

.PL125 {
  padding-left: 7.8125rem;
}

.PL130 {
  padding-left: 8.125rem;
}

.PL135 {
  padding-left: 8.4375rem;
}

.PL140 {
  padding-left: 8.75rem;
}

.PL145 {
  padding-left: 9.0625rem;
}

.PL150 {
  padding-left: 9.375rem;
}

/*----------------------------------
  Padding Right
------------------------------------*/
.PR0 {
  padding-right: 0rem;
}

.PR5 {
  padding-right: 0.3125rem;
}

.PR10 {
  padding-right: 0.625rem;
}

.PR15 {
  padding-right: 0.9375rem;
}

.PR20 {
  padding-right: 1.25rem;
}

.PR25 {
  padding-right: 1.5625rem;
}

.PR30 {
  padding-right: 1.875rem;
}

.PR35 {
  padding-right: 2.1875rem;
}

.PR40 {
  padding-right: 2.5rem;
}

.PR45 {
  padding-right: 2.8125rem;
}

.PR50 {
  padding-right: 3.125rem;
}

.PR55 {
  padding-right: 3.4375rem;
}

.PR60 {
  padding-right: 3.75rem;
}

.PR65 {
  padding-right: 4.0625rem;
}

.PR70 {
  padding-right: 4.375rem;
}

.PR75 {
  padding-right: 4.6875rem;
}

.PR80 {
  padding-right: 5rem;
}

.PR85 {
  padding-right: 5.3125rem;
}

.PR90 {
  padding-right: 5.625rem;
}

.PR95 {
  padding-right: 5.9375rem;
}

.PR100 {
  padding-right: 6.25rem;
}

.PR105 {
  padding-right: 6.5625rem;
}

.PR110 {
  padding-right: 6.875rem;
}

.PR115 {
  padding-right: 7.1875rem;
}

.PR120 {
  padding-right: 7.5rem;
}

.PR125 {
  padding-right: 7.8125rem;
}

.PR130 {
  padding-right: 8.125rem;
}

.PR135 {
  padding-right: 8.4375rem;
}

.PR140 {
  padding-right: 8.75rem;
}

.PR145 {
  padding-right: 9.0625rem;
}

.PR150 {
  padding-right: 9.375rem;
}

/*----------------------------------
  Padding X (left & right)
------------------------------------*/
.PX0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.PX5 {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.PX10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.PX15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.PX20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.PX25 {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

.PX30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.PX35 {
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}

.PX40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.PX45 {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
}

.PX50 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.PX55 {
  padding-left: 3.4375rem;
  padding-right: 3.4375rem;
}

.PX60 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.PX65 {
  padding-left: 4.0625rem;
  padding-right: 4.0625rem;
}

.PX70 {
  padding-left: 4.375rem;
  padding-right: 4.375rem;
}

.PX75 {
  padding-left: 4.6875rem;
  padding-right: 4.6875rem;
}

.PX80 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.PX85 {
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
}

.PX90 {
  padding-left: 5.625rem;
  padding-right: 5.625rem;
}

.PX95 {
  padding-left: 5.9375rem;
  padding-right: 5.9375rem;
}

.PX100 {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.PX105 {
  padding-left: 6.5625rem;
  padding-right: 6.5625rem;
}

.PX110 {
  padding-left: 6.875rem;
  padding-right: 6.875rem;
}

.PX115 {
  padding-left: 7.1875rem;
  padding-right: 7.1875rem;
}

.PX120 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.PX125 {
  padding-left: 7.8125rem;
  padding-right: 7.8125rem;
}

.PX130 {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

.PX135 {
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
}

.PX140 {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}

.PX145 {
  padding-left: 9.0625rem;
  padding-right: 9.0625rem;
}

.PX150 {
  padding-left: 9.375rem;
  padding-right: 9.375rem;
}

/*----------------------------------
  Padding Y (top & bottom)
------------------------------------*/
.PY0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.PY5 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.PY10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.PY15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.PY20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.PY25 {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.PY30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.PY35 {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}

.PY40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.PY45 {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}

.PY50 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.PY55 {
  padding-top: 3.4375rem;
  padding-bottom: 3.4375rem;
}

.PY60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.PY65 {
  padding-top: 4.0625rem;
  padding-bottom: 4.0625rem;
}

.PY70 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.PY75 {
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

.PY80 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.PY85 {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
}

.PY90 {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.PY95 {
  padding-top: 5.9375rem;
  padding-bottom: 5.9375rem;
}

.PY100 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.PY105 {
  padding-top: 6.5625rem;
  padding-bottom: 6.5625rem;
}

.PY110 {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}

.PY115 {
  padding-top: 7.1875rem;
  padding-bottom: 7.1875rem;
}

.PY120 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.PY125 {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem;
}

.PY130 {
  padding-top: 8.125rem;
  padding-bottom: 8.125rem;
}

.PY135 {
  padding-top: 8.4375rem;
  padding-bottom: 8.4375rem;
}

.PY140 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.PY145 {
  padding-top: 9.0625rem;
  padding-bottom: 9.0625rem;
}

.PY150 {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.PY155 {
  padding-top: 9.6875rem;
  padding-bottom: 9.6875rem;
}

.PY160 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.PY165 {
  padding-top: 10.3125rem;
  padding-bottom: 10.3125rem;
}

.PY170 {
  padding-top: 10.625rem;
  padding-bottom: 10.625rem;
}

.PY175 {
  padding-top: 10.9375rem;
  padding-bottom: 10.9375rem;
}

.PY180 {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}

.PY185 {
  padding-top: 11.5625rem;
  padding-bottom: 11.5625rem;
}

.PY190 {
  padding-top: 11.875rem;
  padding-bottom: 11.875rem;
}

.PY195 {
  padding-top: 12.1875rem;
  padding-bottom: 12.1875rem;
}

.PY200 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.PY205 {
  padding-top: 12.8125rem;
  padding-bottom: 12.8125rem;
}

.PY210 {
  padding-top: 13.125rem;
  padding-bottom: 13.125rem;
}

.PY215 {
  padding-top: 13.4375rem;
  padding-bottom: 13.4375rem;
}

.PY220 {
  padding-top: 13.75rem;
  padding-bottom: 13.75rem;
}

.PY225 {
  padding-top: 14.0625rem;
  padding-bottom: 14.0625rem;
}

.PY230 {
  padding-top: 14.375rem;
  padding-bottom: 14.375rem;
}

.PY235 {
  padding-top: 14.6875rem;
  padding-bottom: 14.6875rem;
}

.PY240 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.PY245 {
  padding-top: 15.3125rem;
  padding-bottom: 15.3125rem;
}

.PY250 {
  padding-top: 15.625rem;
  padding-bottom: 15.625rem;
}

.PY255 {
  padding-top: 15.9375rem;
  padding-bottom: 15.9375rem;
}

.PY260 {
  padding-top: 16.25rem;
  padding-bottom: 16.25rem;
}

.PY265 {
  padding-top: 16.5625rem;
  padding-bottom: 16.5625rem;
}

.PY270 {
  padding-top: 16.875rem;
  padding-bottom: 16.875rem;
}

.PY275 {
  padding-top: 17.1875rem;
  padding-bottom: 17.1875rem;
}

.PY280 {
  padding-top: 17.5rem;
  padding-bottom: 17.5rem;
}

.PY285 {
  padding-top: 17.8125rem;
  padding-bottom: 17.8125rem;
}

.PY290 {
  padding-top: 18.125rem;
  padding-bottom: 18.125rem;
}

.PY295 {
  padding-top: 18.4375rem;
  padding-bottom: 18.4375rem;
}

.PY300 {
  padding-top: 18.75rem;
  padding-bottom: 18.75rem;
}

/*----------------------------------
  Ul li padding X (left & right)
------------------------------------*/
.ul-li-lr-0 > li {
  padding-left: 0rem;
  padding-right: 0rem;
}

.ul-li-lr-1 > li {
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
}

.ul-li-lr-2 > li {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.ul-li-lr-3 > li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
}

.ul-li-lr-4 > li {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ul-li-lr-5 > li {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.ul-li-lr-10 > li {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.ul-li-lr-15 > li {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.ul-li-lr-20 > li {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/*----------------------------------
  Ul li padding Y (top & bottom)
------------------------------------*/
.ul-li-tb-0 > li {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.ul-li-tb-1 > li {
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem;
}

.ul-li-tb-2 > li {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.ul-li-tb-3 > li {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.ul-li-tb-4 > li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ul-li-tb-5 > li {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.ul-li-tb-10 > li {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.ul-li-tb-15 > li {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.ul-li-tb-20 > li {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
